<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <label for="" class="form-label">patient code:</label>
                    <input type="text" name="pcode" [(ngModel)]="pcode" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValues()" class="btn btn-primary">Search</button>
                </div>
            </div>
            <div class="row g-3 mt-4" *ngFor="let i of searchData">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Name:</label>
                    <input type="text" class="form-control" value="{{i.name}}">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">contact no:</label>
                    <input type="text" class="form-control" value="{{i.mob}}">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Address:</label>
                    <input type="text" class="form-control" value="{{i.address}}">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of appoinment:</label>
                    <input type="text" name="" id="" class="form-control" value="{{i.date}}">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Doctor name:</label>
                    <input type="text" class="form-control" value="{{i.doctor}}">
                </div>
                

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="deleteClick(i.id)" class="btn btn-danger">delete</button>
                </div>


            </div>
        </div>
    </div>
</div>
